<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ConfigMapper">
    <resultMap type="com.yeahn.menu.dto.MenuConfig" id="menu2">
        <result column="MENU_CODE" property="MENU_CODE"/>
        <result column="MENU_TITLE" property="MENU_TITLE"/>
        <result column="MENU_URL" property="MENU_URL"/>
        <result column="MENU_LEVEL" property="MENU_LEVEL"/>
        <result column="MENU_PARENT" property="MENU_PARENT"/>
        <result column="MENU_SEQ" property="MENU_SEQ"/>
        <result column="DEL_YN" property="DEL_YN"/>
    </resultMap>

    <select id="getMenuList" parameterType="com.yeahn.menu.dto.MenuConfig" resultMap="menu2" resultType="com.yeahn.menu.dao.MenuMapper">
        WITH RECURSIVE menu AS (
            SELECT
                MENU_SEQ
                , MENU_CODE
                , MENU_TITLE
                , MENU_URL
                , MENU_PARENT
                , 0 MENU_LEVEL
                , SORT_ORDER
                , CAST(LPAD(SORT_ORDER,5,'0') AS CHAR(200)) AS sort_path
                , DEL_YN
            FROM TB_MENU
            WHERE MENU_CODE = 'ROOT'

            UNION ALL

            SELECT
                m.MENU_SEQ
                , m.MENU_CODE
                , m.MENU_TITLE
                , m.MENU_URL
                , m.MENU_PARENT
                , menu.MENU_LEVEL + 1 MENU_LEVEL
                , m.SORT_ORDER
                , CONCAT(menu.sort_path, LPAD(m.SORT_ORDER,5,'0'))
                , m.DEL_YN
            FROM TB_MENU m
            JOIN menu ON m.MENU_PARENT = menu.MENU_CODE
        )
        SELECT
            MENU_CODE
            , MENU_TITLE
            , MENU_URL
            , MENU_PARENT
            , MENU_LEVEL
            , MENU_SEQ
            , DEL_YN
        FROM menu
        WHERE MENU_CODE != 'ROOT'
        AND DEL_YN = 'N'
        ORDER BY sort_path
    </select>

    <select id="getMenuPage" parameterType="string" resultType="com.yeahn.menu.dto.MenuConfig">
        WITH RECURSIVE menu AS (
            SELECT
                MENU_CODE
                , MENU_TITLE
                , MENU_TITLE AS MENU_GNB
                , DEL_YN
            FROM TB_MENU
            WHERE MENU_CODE = 'ROOT'

            UNION ALL

            SELECT
                m.MENU_CODE
                , m.MENU_TITLE
                , concat(menu.MENU_GNB, ' > ', m.MENU_TITLE) AS MENU_GNB
                , m.DEL_YN
            FROM TB_MENU m
            JOIN menu ON m.MENU_PARENT = menu.MENU_CODE
        )
        SELECT
            MENU_CODE
            , MENU_TITLE
            , MENU_GNB
        FROM menu
        WHERE MENU_CODE = #{value}
    </select>

    <select id="getMenuConfigList" parameterType="string" resultType="com.yeahn.menu.dto.MenuConfig">
        WITH RECURSIVE menu_tree AS (
            SELECT
                MENU_CODE
                , MENU_TITLE
                , MENU_PARENT
                , 0 AS MENU_LEVEL
                , CAST(LPAD(SORT_ORDER,5,'0') AS CHAR(200)) AS sort_path
            FROM TB_MENU
            WHERE MENU_PARENT IS NULL

            UNION ALL

            SELECT
                m.MENU_CODE,
                m.MENU_TITLE,
                m.MENU_PARENT,
                mt.MENU_LEVEL + 1
                , CONCAT(mt.sort_path, LPAD(m.SORT_ORDER,5,'0'))
            FROM TB_MENU m
            JOIN menu_tree mt
                ON m.MENU_PARENT = mt.MENU_CODE
        )
        SELECT
            mt.MENU_CODE,
            mt.MENU_TITLE,
            mt.MENU_LEVEL,
            CASE
                WHEN EXISTS (
                    SELECT 1
                    FROM TB_MENU c
                    WHERE c.MENU_PARENT = mt.MENU_CODE
                ) THEN 'true'
                ELSE 'false'
            END AS MENU_CHILD_YN,
            mt.MENU_PARENT
        FROM menu_tree mt
        ORDER BY mt.sort_path
    </select>

    <select id="getMenuChildList" parameterType="string" resultType="com.yeahn.menu.dto.MenuConfig">
        WITH RECURSIVE menu_tree AS (
            SELECT
                MENU_CODE
                , MENU_TITLE
                , MENU_PARENT
                , 0 AS MENU_LEVEL
                , CAST(LPAD(SORT_ORDER,5,'0') AS CHAR(200)) AS sort_path
            FROM TB_MENU
            WHERE MENU_PARENT IS NULL

            UNION ALL

            SELECT
                m.MENU_CODE,
                m.MENU_TITLE,
                m.MENU_PARENT,
                mt.MENU_LEVEL + 1
                , CONCAT(mt.sort_path, LPAD(m.SORT_ORDER,5,'0'))
            FROM TB_MENU m
            JOIN menu_tree mt
                ON m.MENU_PARENT = mt.MENU_CODE
        )
        SELECT
            mt.MENU_CODE,
            mt.MENU_TITLE,
            mt.MENU_LEVEL,
            CASE
                WHEN EXISTS (
                    SELECT 1
                    FROM TB_MENU c
                    WHERE c.MENU_PARENT = mt.MENU_CODE
                ) THEN 'true'
                ELSE 'false'
            END AS MENU_CHILD_YN,
            mt.MENU_PARENT
        FROM menu_tree mt
        WHERE mt.MENU_PARENT = #{value}
        ORDER BY mt.sort_path
    </select>

    <select id="getMenuDetail" parameterType="string" resultType="map">
        WITH RECURSIVE menu AS (
            SELECT
                MENU_SEQ
                , MENU_CODE
                , MENU_TITLE
                , MENU_TITLE AS MENU_GNB
                , MENU_URL
                , MENU_PARENT
                , 0 MENU_LEVEL
                , SORT_ORDER
                , CAST(LPAD(SORT_ORDER,5,'0') AS CHAR(200)) AS sort_path
                , DEL_YN
            FROM TB_MENU
            WHERE MENU_CODE = 'ROOT'

            UNION ALL

            SELECT
                m.MENU_SEQ
                , m.MENU_CODE
                , m.MENU_TITLE
                , concat(menu.MENU_GNB, ' > ', m.MENU_TITLE) AS MENU_GNB
                , m.MENU_URL
                , m.MENU_PARENT
                , menu.MENU_LEVEL + 1 MENU_LEVEL
                , m.SORT_ORDER
                , CONCAT(menu.sort_path, LPAD(m.SORT_ORDER,5,'0'))
                , m.DEL_YN
            FROM TB_MENU m
            JOIN menu ON m.MENU_PARENT = menu.MENU_CODE
        )
        SELECT
            m.MENU_CODE
            , m.MENU_SEQ
            , m.MENU_TITLE
            , m.MENU_URL
            , m.MENU_GNB
            , m.MENU_PARENT
            , m.MENU_LEVEL
            , CASE
                WHEN EXISTS (
                    SELECT 1
                    FROM TB_MENU c
                    WHERE c.MENU_PARENT = m.MENU_CODE
                ) THEN 'true'
                ELSE 'false'
            END AS MENU_CHILD_YN
            , '' MENU_GROUP
            , m.DEL_YN
        FROM menu m
        WHERE m.MENU_CODE = #{value}
        ORDER BY sort_path
    </select>

    <update id="updateMenu" parameterType="map" >
        UPDATE menu
           SET MENU_SEQ = #{MENU_SEQ}
              ,MENU_TITLE = #{MENU_TITLE}
              ,MENU_URL = #{MENU_URL}
              ,MENU_GNB = #{MENU_GNB}
              ,MENU_PARENT = #{MENU_PARENT}
              ,MENU_LEVEL = #{MENU_LEVEL}
              ,MENU_CHILD_YN = #{MENU_CHILD_YN}
              ,DEL_YN = #{DEL_YN}
        WHERE MENU_CODE = #{MENU_CODE}
    </update>

    <insert id="insertMenu" parameterType="map">
        INSERT INTO menu(MENU_CODE, MENU_PARENT)
        VALUES (#{MENU_CODE}, #{MENU_PARENT})
    </insert>

</mapper>