<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ExerciseTemplateMapper">

    <select id="getTplList" resultType="com.yeahn.template.dto.TemplateDto">
        SELECT
           tpl.TPL_SEQ tplSeq
           , tpl.TPL_NAME tplName
           , FN_GET_COMM_CODE_DESC('TPL_PHASE', tpl.TPL_PHASE) tplPhase
        FROM TB_EXER_TPL tpl
        INNER JOIN TB_EXER exer
        ON tpl.TPL_SEQ = exer.TPL_SEQ
        INNER JOIN TB_EXER_ATTR attr
        ON exer.TPL_ATTR_SEQ = attr.TPL_ATTR_SEQ
        WHERE tpl.USE_YN = 'Y'
        AND tpl.DEL_YN = 'N'
        AND attr.TPL_TYPE_CODE = #{tplTypeCode}
        GROUP BY tpl.TPL_SEQ
        ORDER BY tpl.SORT_ORDER
    </select>

    <select id="searchTplList"
            parameterType="com.yeahn.template.dto.TemplateSearchDto"
            resultType="com.yeahn.template.dto.TemplateDto">
        SELECT
           tpl.TPL_SEQ tplSeq
           , tpl.TPL_NAME tplName
           , FN_GET_COMM_CODE_DESC('TPL_PHASE', tpl.TPL_PHASE) tplPhase
        FROM TB_EXER_TPL tpl
        INNER JOIN TB_EXER exer
        ON tpl.TPL_SEQ = exer.TPL_SEQ
        INNER JOIN TB_EXER_ATTR attr
        ON exer.TPL_ATTR_SEQ = attr.TPL_ATTR_SEQ
        WHERE tpl.USE_YN = 'Y'
        AND tpl.DEL_YN = 'N'
        <if test="tplType != null and tplType != ''">
            AND attr.TPL_TYPE_CODE = #{tplType}
        </if>

        <if test="tplName != null and tplName != ''">
            AND (
            MATCH(tpl.TPL_NAME) AGAINST(CONCAT('+', #{tplName}, '*') IN BOOLEAN MODE)
            OR tpl.TPL_NAME LIKE CONCAT('%', #{tplName}, '%')
            )
        </if>

        <if test="tplPhase != null and tplPhase.size() > 0">
            AND tpl.TPL_PHASE IN
            <foreach collection="tplPhase" item="phase" open="(" separator="," close=")">
                #{phase}
            </foreach>
        </if>

        <if test="tplCategory != null and tplCategory.size() > 0">
            AND attr.TPL_CATEGORY_CODE IN
            <foreach collection="tplCategory" item="cat" open="(" separator="," close=")">
                #{cat}
            </foreach>
        </if>
        GROUP BY tpl.TPL_SEQ
        ORDER BY tpl.SORT_ORDER
    </select>

    <select id="getTplDetail" parameterType="long" resultType="com.yeahn.template.dto.TemplateDto">
        SELECT
            tpl.TPL_SEQ tplSeq
            , tpl.TPL_NAME tplName
            , FN_GET_COMM_CODE_DESC('TPL_PHASE', tpl.TPL_PHASE) tplPhase
        FROM TB_EXER_TPL tpl
        WHERE tpl.TPL_SEQ = #{tplSeq}
        AND tpl.USE_YN = 'Y'
        AND tpl.DEL_YN = 'N'
    </select>

    <select id="getExerList" parameterType="long" resultType="com.yeahn.template.dto.TemplateDto">
        SELECT
            attr.TPL_ATTR_SEQ tplAttrSeq
            , attr.TPL_TYPE_CODE tplTypeCode
            , attr.TPL_EXER_NAME tplExerName
            , attr.TPL_CATEGORY_CODE tplCategoryCode
            , FN_GET_COMM_CODE_DESC('TPL_CATEGORY', attr.TPL_CATEGORY_CODE) tplCategoryDesc
            , attr.TPL_KIND_CODE tplKindCode
            , FN_GET_COMM_CODE_DESC('TPL_KIND_CODE', attr.TPL_KIND_CODE) tplKindDesc
            , attr.TPL_NOTE tplNote
            , attr.TPL_SORT_ORDER tplSortOrder
        FROM TB_EXER exer
        JOIN TB_EXER_ATTR attr ON exer.TPL_ATTR_SEQ = attr.TPL_ATTR_SEQ
        WHERE exer.TPL_SEQ = #{tplSeq}
        AND attr.USE_YN = 'Y'
        AND attr.DEL_YN = 'N'
        ORDER BY attr.TPL_SORT_ORDER
    </select>

    <insert id="insertTemplate" parameterType="com.yeahn.template.dto.TemplateDto" useGeneratedKeys="true" keyProperty="tplSeq">
        INSERT INTO TB_EXER_TPL (
            TPL_NAME
            , TPL_PHASE
            , SORT_ORDER
            , USE_YN
            , DEL_YN
            , INS_USER_ID
            , INS_IP
            , INS_DT
        ) VALUES (
            #{tplName}
            , #{tplPhase}
            , (SELECT IFNULL(MAX(T.SORT_ORDER), 0) + 1 FROM TB_EXER_TPL T)
            , 'Y'
            , 'N'
            , #{insUserId}
            , #{insIp}
            , NOW()
        )
    </insert>

    <insert id="insertExercise" parameterType="com.yeahn.template.dto.TemplateDto" useGeneratedKeys="true" keyProperty="tplAttrSeq">
        INSERT INTO TB_EXER_ATTR (
            TPL_TYPE_CODE
            , TPL_EXER_NAME
            , TPL_CATEGORY_CODE
            , TPL_KIND_CODE
            , TPL_NOTE
            , TPL_SORT_ORDER
            , USE_YN
            , DEL_YN
            , INS_DT
        ) VALUES (
            #{tplTypeCode}
            , #{tplExerName}
            , #{tplCategoryCode}
            , #{tplKindCode}
            , #{tplNote}
            , #{tplSortOrder}
            , 'Y'
            , 'N'
            , NOW()
        )
    </insert>

    <update id="updateExercise" parameterType="com.yeahn.template.dto.TemplateDto">
        UPDATE TB_EXER_ATTR
        SET TPL_EXER_NAME = #{tplExerName}
            , TPL_CATEGORY_CODE = #{tplCategoryCode}
            , TPL_KIND_CODE = #{tplKindCode}
            , TPL_NOTE = #{tplNote}
            , TPL_SORT_ORDER = #{tplSortOrder}
            , UPD_DT = NOW()
        WHERE TPL_ATTR_SEQ = #{tplAttrSeq}
    </update>

    <update id="deleteExerciseBySeq" parameterType="long">
        UPDATE TB_EXER_ATTR
        SET DEL_YN = 'Y', UPD_DT = NOW()
        WHERE TPL_ATTR_SEQ = #{_parameter}
    </update>

    <insert id="insertRelation">
        INSERT INTO TB_EXER (
            TPL_SEQ
            , TPL_ATTR_SEQ
        ) VALUES (
            #{tplSeq}
            , #{tplAttrSeq}
        )
    </insert>

    <update id="updateExerciseOrders" parameterType="java.util.List">
        UPDATE TB_EXER_ATTR
        SET TPL_SORT_ORDER = CASE
            <foreach collection="list" item="item">
                WHEN TPL_ATTR_SEQ = #{item.tplAttrSeq} THEN #{item.tplSortOrder}
            </foreach>
        END,
        UPD_DT = NOW(),
        UPD_IP = #{list[0].updIp},
        UPD_USER_ID = #{list[0].updUserId}
        WHERE TPL_ATTR_SEQ IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            #{item.tplAttrSeq}
        </foreach>
    </update>

    <update id="updateTemplate" parameterType="com.yeahn.template.dto.TemplateDto">
        UPDATE TB_EXER_TPL
        SET TPL_NAME = #{tplName}
            , TPL_PHASE = #{tplPhase}
            , UPD_USER_ID = #{updUserId}
            , UPD_IP = #{updIp}
            , UPD_DT = NOW()
        WHERE TPL_SEQ = #{tplSeq}
    </update>

    <update id="deleteTemplate" parameterType="com.yeahn.template.dto.TemplateDto">
        UPDATE TB_EXER_TPL
        SET DEL_YN = 'Y'
            , UPD_USER_ID = #{updUserId}
            , UPD_IP = #{updIp}
            , UPD_DT = NOW()
        WHERE TPL_SEQ = #{tplSeq}
    </update>

    <delete id="deleteRelationByTplSeq" parameterType="long">
        DELETE FROM TB_EXER WHERE TPL_SEQ = #{tplSeq}
    </delete>

    <update id="deleteExerciseByTplSeq" parameterType="com.yeahn.template.dto.TemplateDto">
        UPDATE TB_EXER_ATTR attr, TB_EXER exer
        SET attr.DEL_YN = 'Y'
            , attr.UPD_USER_ID = #{updUserId}
            , attr.UPD_IP = #{updIp}
            , attr.UPD_DT = NOW()
        WHERE attr.TPL_ATTR_SEQ = exer.TPL_ATTR_SEQ
        AND exer.TPL_SEQ = #{tplSeq}
    </update>

</mapper>
