<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ExerciseTemplateMapper">

    <select id="selectTplList" resultType="com.yeahn.template.dto.TemplateDto">
        SELECT
           tpl.TPL_SEQ tplSeq
           , tpl.TPL_NAME tplName
           , FN_GET_COMM_CODE_DESC('TPL_PHASE', tpl.TPL_PHASE) tplPhase
        FROM TB_EXER_TPL tpl
        INNER JOIN TB_EXER exer
        ON tpl.TPL_SEQ = exer.TPL_SEQ
        INNER JOIN TB_EXER_ATTR attr
        ON exer.TPL_ATTR_SEQ = attr.TPL_ATTR_SEQ
        WHERE tpl.USE_YN = 'Y'
        AND tpl.DEL_YN = 'N'
        AND attr.TPL_TYPE_CODE = #{tplTypeCode}
        GROUP BY tpl.TPL_SEQ
           , tpl.TPL_NAME
           , attr.TPL_TYPE_CODE
        ORDER BY tpl.SORT_ORDER
    </select>

</mapper>