<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="LogMapper">

    <insert id="insertAccessLog" parameterType="com.yeahn.model.AccessLogVo">
        INSERT INTO TB_LOG_ACCESS (
            ACCESS_MENU_SEQ
            , ACCESS_URI
            , ACCESS_QUERY_STRING
            , ACCESS_FORM_DATA
            , ACCESS_METHOD
            , ACCESS_IP
            , ACCESS_DEVICE
            , ACCESS_BROWSER
            , ACCESS_LANGUAGE
            , ACCESS_OS
            , ACCESS_SESSION_ID
            , ACCESS_REFERRER
            , UA_ORIGIN
            , ACCESS_STATUS_CODE
            , RESPONSE_TIME
            , INS_DT
        ) VALUES (
              #{accessMenuSeq}
            , #{accessUri}
            , #{accessQueryString}
            , #{accessFormData}
            , #{accessMethod}
            , #{accessIp}
            , #{accessDevice}
            , #{accessBrowser}
            , #{accessLanguage}
            , #{accessOs}
            , #{accessSessionId}
            , #{accessReferrer}
            , #{uaOrigin}
            , #{accessStatusCode}
            , #{responseTime}
            , NOW()
        )
    </insert>

    <insert id="insertLoginLog" parameterType="com.yeahn.model.LoginLogVo">
        INSERT INTO TB_LOG_LOGIN (
            USER_ID
            , LOGIN_SUCCESS
            , STATUS_CODE
            , FAIL_REASON
            , LOGIN_REQ_METHOD
            , LOGIN_REQ_IP
            , LOGIN_REQ_DEVICE
            , LOGIN_REQ_BROWSER
            , LOGIN_REQ_LANGUAGE
            , LOGIN_REQ_OS
            , LOGIN_REQ_SESSION_ID
            , LOGIN_REQ_REFERRER
            , LOGIN_REQ_UA_ORIGIN
            , INS_DT
        ) VALUES (
              #{userId}
            , #{loginSuccess}
            , #{statusCode}
            , #{failReason}
            , #{loginReqMethod}
            , #{loginReqIp}
            , #{loginReqDevice}
            , #{loginReqBrowser}
            , #{loginReqLanguage}
            , #{loginReqOs}
            , #{loginReqSessionId}
            , #{loginReqReferrer}
            , #{loginReqUaOrigin}
            , NOW()
        )
    </insert>

</mapper>