<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="YeTableMapper">
    <select id="getYeahnTableList" resultType="com.yeahn.model.YeahnTable">
        SELECT * FROM yeahn_table;
    </select>

    <update id="editYeahnTable" parameterType="com.yeahn.model.YeahnTable">
        UPDATE yeahn_table
        SET TITLE = #{TITLE}
        WHERE NO = #{NO}
    </update>

    <insert id="insertYetable" parameterType="map">
        INSERT INTO yeahn_table(TITLE, CONTENT, REG_DATE, REG_ID)
        VALUES (#{TITLE}, #{CONTENT}, #{REG_DATE}, #{REG_ID})
    </insert>

    <select id="getYeahnTable" resultType="com.yeahn.model.YeahnTable">
        SELECT * FROM yeahn_table where NO = #{NO};
    </select>
</mapper>