{{> layout/header }}
{{> layout/leftmenu }}
{{> layout/gnb }}
<!-- ============================================================== -->
<!-- main  -->
<!-- ============================================================== -->
<script>
    $(document).ready(function () {

    })
</script>

<div class="row">
    <div class="col-10">
        <div class="card card-body">
        <form id="sendForm" method="post">
            <div>
                <label class="form-label">운동 선택</label>
                <input type="button" class="form-control btn btn-primary border-1 text-white" value="수영" style="display: inline; width: 10%" >
                <input type="button" class="form-control btn border-1" value="헬스" style="display: inline; width: 10%">
                <label for="tplName" class="form-label">&nbsp;&nbsp;템플릿 검색</label>
                <input type="text" class="form-control" name="TPL_NAME" id="tplName" style="display: inline; width: 20%;"/>
                <a href="#" class="btn btn-primary border-1 text-white" onclick="fn_update();">검색</a>
            </div>
        </form>
        </div>
    </div>
    <div class="col-4">
        <h5 class="card-header border-1">
            템플릿 리스트
            <a href="#" id="childMenuCreate" class="btn btn-primary float-right text-white btn-xs" data-toggle="modal" data-target="#insertMenuCodeModal" style="">템플릿 추가</a>
        </h5>
        <div class="card card-body p-0">
            <div class="list-group">
                <a href="#" class="list-group-item">asdf</a>
                <a href="#" class="list-group-item active">asdf</a>
                <a href="#" class="list-group-item">asdf</a>
                <a href="#" class="list-group-item">asdf</a>
                <a href="#" class="list-group-item">asdf</a>
            </div>
        </div>
    </div>
    <div class="col-6">
        <h5 class="card-header border-1">템플릿 조회 / 추가</h5>
        <div class="card card-body">
            <div class="col-12 mb-4">
                <label for="siteName" class="form-label">템플릿 이름</label>
                <input type="text" class="form-control" id="siteName">
            </div>

            <div class="col-12 mb-4">
                <label for="siteName" class="form-label">운동 목록</label>
                <div class="list-group">
                    <div class="list-group-item">
                        <span>벤치프레스</span>
                        <span class="badge badge-info ml-2">3세트</span>
                        <span class="badge badge-info ml-1">10회</span>
                        <small class="form-text text-muted">메모메모메모메모</small>
                    </div>
                    <div class="list-group-item">
                        <span>벤치프레스</span>
                        <span class="badge badge-info ml-2">3세트</span>
                        <span class="badge badge-info ml-1">10회</span>
                        <small class="form-text text-muted">메모메모메모메모</small>
                    </div>
                    <div class="list-group-item">
                        <span>벤치프레스</span>
                        <span class="badge badge-info ml-2">3세트</span>
                        <span class="badge badge-info ml-1">10회</span>
                        <small class="form-text text-muted">메모메모메모메모</small>
                    </div>
                    <br>
                    <button class="btn btn-sm btn-primary" onclick="addExercise()">
                        + 운동 추가
                    </button>
                </div>
            </div>

            <div class="text-center" style="">
                <button class="btn btn-primary border-1 text-white" style="position: center;" onclick="fn_update();">수정</button>
                <button type="button" class="btn btn-secondary">삭제</button>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end main  -->
<!-- ============================================================== -->

{{> layout/footer }}