{{> layout/header }}
{{> layout/leftmenu }}
{{> layout/gnb }}
<!-- ============================================================== -->
<!-- main  -->
<!-- ============================================================== -->

<div class="col-12">
    <div class="card">
        <h5 class="card-header">글 등록</h5>
        <div class="card-body p-0">
            <div class="table-responsive">
                <form action="" method="POST">
                  <textarea name="text" id="editor"></textarea>
                <p><input type="submit" value="전송"></p>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/ckeditor.js"></script>
<script type="text/javascript" src="/js/translations/ko.js"></script>
<script type="text/javascript">
    ClassicEditor
        .create( document.querySelector( '#editor' ), {
            // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
        } )
        .then( editor => {
            window.editor = editor;
        } )
        .catch( err => {
            console.error( err.stack );
        } );
</script>
<!-- ============================================================== -->
<!-- end main  -->
<!-- ============================================================== -->

{{> layout/footer }}