{{> layout/header }}
{{> layout/leftmenu }}
{{> layout/gnb }}
<!-- ============================================================== -->
<!-- main  -->
<!-- ============================================================== -->
<div class="col-12">
    <form id="sendForm" method="post">
        <div class="card">
            <h4 class="card-header">{{data.TITLE}}</h4>
            <div class="card-body">
                {{{data.CONTENT}}}
            </div>
        </div>
    </form>
</div>
<!-- ============================================================== -->
<!-- end main  -->
<!-- ============================================================== -->

{{> layout/footer }}