{{> layout/header }}
{{> layout/leftmenu }}
{{> layout/gnb }}
<!-- ============================================================== -->
<!-- main  -->
<!-- ============================================================== -->
<div class="col-12">
    <table id="yeGrid"></table>
    <div id="pager"></div>
    <script type="text/javascript">
        var editableCells = ['title'];
        var ColNames =  ['NO', '제목', '작성자', '날짜'];
        var ColModel =
            [{ name : 'no',      index:'no',        width:"10%",  align:'center' , cellattr:idColorFmt},
            { name : 'title',    index:'title',     width:"60%",  align:'left'   , cellattr:idColorFmt},
            { name : 'reg_ID',   index:'reg_ID',    width:"10%",  align:'center' , cellattr:idColorFmt},
            { name : 'reg_DATE', index:'reg_DATE',  width:"20%",  align:'center' , cellattr:idColorFmt}];

        $(document).ready(function () {
            $("#yeGrid").jqGrid({
                url : '/yetable/list.json',
                datatype : "json",
                mtype : "get",
                colNames : ColNames,
                colModel : ColModel,
                pager : '#pager',
                rowNum : '10',
                autowidth : true,
                sortable : true,
                loadonce : true,
                sortorder: "asc",

                cellEdit: true,
                cellsubmit:'remote',
                cellurl : "/yetable/edit.json",

                //더블클릭하면 셀 에디트 가능하게
                // ondblClickRow : function(rowid, iRow, iCol, e){
                //     var colModels = $(this).getGridParam('colModel');
                //     var colName = colModels[iCol].name;
                //
                //     if (editableCells.indexOf(colName) >= 0) {
                //         $(this).setColProp(colName, { editable: true });
                //         $(this).editCell(iRow, iCol, true);
                //     }
                // },

                //더블클릭하면 상세페이지 이동
                ondblClickRow : function(rowid, iRow, iCol, e){
                    var colNo = $(this).getCell(rowid, "no")

                    location.href = "/yetable/detail?NO="+colNo;
                },

                beforeSubmitCell : function(rowid,name,val) { // submit 전
                    return {"NO":rowid, "TITLE":val}
                },

                afterSaveCell : function(rowid,name,val,iRow,iCol){ // 로우 데이터 변경하고 엔터치거나 다른 셀 클릭했을때 발동
                     $("#yeGrid").jqGrid('setGridParam', {cellEdit: false});
                },

            });
        });

        // table cell의 attribute 설정. Style 등등
        function idColorFmt( rowId, tv, rawObject, cm, rdata) {
            switch( rawObject.level) {
                case 1:
                    return 'style="background-color:#58D3F7"';
                    break;
                case 2:
                    return 'style="background-color:#E0F2F7"';
                    break;
                case 3:
                    return 'style="background-color:white"';
                    break;
                default:
            }
            return  "";
        }

        // 글자 포멧팅
        function numFormat( cellvalue, options, rowObject ){
            return numberWithCommas(cellvalue)
        }

        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
    </script>
</div>
<!-- ============================================================== -->
<!-- end main  -->
<!-- ============================================================== -->

{{> layout/footer }}