{{> layout/header }}
{{> layout/leftmenu }}
{{> layout/gnb }}
<!-- ============================================================== -->
<!-- main  -->
<!-- ============================================================== -->
<script>
    // 따옴표로 감싸면 string
    // 따옴표로 안감싸면 number
        //alert('rrrr');
        //alert(2222);

    // type이 뭔지 알수있음
        //alert(typeof 2222);

    // 문자의 길이를 구할때는 length를 붙인다
        alert('ㄱㄱㄱ'.length);

    // 변수 var, let, const 차이점
    // 변수 var는 undefined로 초기화되고
    // let, const는 초기화값이 없으면 참조되지않는 값으로 초기화된다.
</script>
<div class="col-12">
    <div class="card">
        <h5 class="card-header">영은쓰 테이블
            <form action="/excel/download" method="get" class="float-right" style="display:inline">
                <button type="submit">Excel</button>
            </form>
        </h5>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table">
                    <thead class="bg-light">
                    <tr class="border-1">
                        <th class="border-1">NO</th>
                        <th class="border-1">제목</th>
                        <th class="border-1">작성일</th>
                        <th class="border-1">작성자</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#YeList}}
                    <tr>
                        <td>{{NO}}</td>
                        <td>{{TITLE}}</td>
                        <td>{{REG_DATE}}</td>
                        <td>{{REG_ID}}</td>
                    </tr>
                    {{/YeList}}
                    <tr>
                        <td colspan="4">
                            <a class="btn btn-outline-light float-right">글 등록</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- ============================================================== -->
<!-- end main  -->
<!-- ============================================================== -->

{{> layout/footer }}