<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).ready(function(){

        //셀렉터 참고
        //https://hello-bryan.tistory.com/241
        // console.log($('[name=company][data-test=Y]').val());
        // console.log($('[data-test=Y]:not([name=company])').val());
        // console.log($('[data-test=Y]').not('[name=company]').val());
        // console.log($('[name*=company]'));
        // console.log('---------------')
        // console.log($('#tttest').attr('data-test'));
        // console.log($('#tttest').attr('data-test', 'N'));
        // console.log($('#tttest').attr('data-test'));
        // console.log('---------------')
        // console.log($('#tttest').prop('data-test'));
        // console.log($('#tttest').prop('data-test', 'Y'));
        // console.log($('#tttest').attr('data-test'));
        // console.log($('#tttest').prop('data-test'));
        // console.log('---------------')
        // console.log($('#tttest').data('test'));
        //
        // console.log($('#tttest').data('test', "mmmm"));
        // console.log($('#tttest').data('test'));

        // jquery 플러그인 만드는 방법 참고
        // https://learn.jquery.com/plugins/basic-plugin-creation/
        $.fn.bindingFnc = function (obj) {

            // jQuery API에서 공식적으로 form 요소의 disabled, selected, checked와 같은
            // 속성값을 확인 또는 변경하는 경우는 .prop()을 사용하길 권장한다.
            // 왜지?
            // checked속성이 처음부터 없었던 엘리먼트는 undefined로 가져와진다.

            for (let prop in obj) {
                // name 엘리먼트 찾기
                let getelements  = $("body").find('[name='+prop+']').get();

                // 그것의 value에 넣어주기
                // 만약 체크박스라면
                if ($(getelements).attr('type') == 'checkbox') {
                    for (let element of getelements) {
                        for (let checkarr of obj[prop]) {
                            if (checkarr == element.value){
                                $(element).prop("checked", true);
                            }
                        }
                    }

                    //만약 라디오버튼이면
                } else if ($(getelements).attr('type') == 'radio') {
                    for (let element of $(getelements)) {
                        if ($(element).val() == obj[prop]) {
                            $(element).prop("checked", true);
                        }
                    }

                    //파일은 value값 세팅할 수 없음
                } else if ($(getelements).attr('type') == 'file') {
                    console.log('[name]',$(getelements).attr("name"),'>>>> 파일은 value값 세팅할 수 없음 <<<<');
                }

                // 셀렉트이면 셀렉트 해주기
                else if ($(getelements).attr('tagName') == 'select') {
                    $(getelements).prop("selected", true);
                }

                // 그 외
                else {
                    if($(getelements).attr('name') == undefined ) {
                        console.log("[name] ", prop, ">>>> 해당 name을 가진 element가 없습니다. <<<<");
                    } else {
                        $(getelements).val(obj[prop]);
                    }
                }
            }
        };

        $.fn.bindingFnc2 = function (obj) {

            // jQuery API에서 공식적으로 form 요소의 disabled, selected, checked와 같은
            // 속성값을 확인 또는 변경하는 경우는 .prop()을 사용하길 권장한다.
            // 왜지?
            // checked속성이 처음부터 없었던 엘리먼트는 undefined로 가져와진다.
            let rootElement = $(this);
            $.each(obj, function (key, value) {
                // name 엘리먼트 찾기
                let $strNameEl = rootElement.find('[name=' + key + ']');
                let strType = $strNameEl.attr('type');
                let strTag = $strNameEl.prop('tagName');

                if (typeof value === 'object') {
                    $(value).each(function (idx, findgap) {
                        if (findgap.match(" ")) {
                            console.log("[data value]", findgap, ">>>> 데이터에 공백이 포함되어있음 <<<<");
                        }
                    });
                }

                if (strType === 'checkbox' ) {
                    if (typeof value === 'object') {
                        $strNameEl.each(function (idx, ele) {
                            $(value).each(function (checkey, checkvalue) {
                                if ($(ele).is("[value="+checkvalue+"]")) {
                                    $(ele).prop("checked", true);
                                }
                            });
                        });
                    } else {
                        console.log("[data key]", key, ">>>> 자료형을 object형으로 준비하라 <<<<");
                    }
                } else if (strType === 'radio') {
                    if (typeof value === 'string') {
                        $strNameEl.each(function (idx, ele) {
                            if ($(ele).is("[value="+value+"]")) {
                                $(ele).prop("checked", true);
                            }
                        });
                    } else {
                        console.log("[data key]", key, ">>>> 자료형을 string형으로 준비하라 <<<<");
                    }
                } else if (strType === 'file') {
                    console.log('[data key]', key, '>>>> 파일은 value값 세팅할 수 없음 <<<<');
                } else if (strTag === 'SELECT') {
                    $strNameEl.each(function (idx, ele) {
                        if (typeof value === 'object') {
                            $(value).each(function (idx, selectedvalue) {
                                $(ele).find('[value='+selectedvalue+']').prop("selected", true);
                            });
                        } else if (typeof value === 'string') {
                            $(ele).find('[value='+value+']').prop("selected", true);
                        }
                    });
                } else if (strType === 'number') {
                    if (!/^[0-9]+$/.test(value)) {
                        console.log('[data key]', key, '>>>> 해당 데이터는 숫자만 넣어주세요 <<<<')
                    } else {
                        $strNameEl.val(value);
                    }
                } else {
                    if (strType === undefined && strTag === undefined) {
                        console.log("[data key] ", key, ">>>> 해당 name을 가진 element가 없습니다. <<<<");
                    } else {
                        $strNameEl.val(value);
                    }
                }
            });
        };

        $.fn.insideTagInputToMap = function () {
            // 이것의 자식들의 태그를 모두 가지고온다
            // 그것은 input태그만 있다
            let inputs = this.find('input');
            let textareas = this.find('textarea');
            let selects = this.find('select');

            let getelements;
            let checkboxarray = [];
            let checkboxname = "";
            let resultmap = {};

            // 그 input의 name을 가지고오고
            // 그 input의 value를 가지고온다
            for (let prop of inputs) {
                getelements = $(prop).eq(0);

                if ( getelements.attr('name') == undefined ) {
                    console.log("[type]", getelements.attr('type')," >>>> name이 없는 input 태그가 있습니다 <<<<");
                }

                if (getelements.attr('type') == 'checkbox'){ // 체크박스
                    if ($(prop).is(":checked")){ // 체크되었을 경우
                        // checkboxname과 현재 element name을 가져와 비교
                        if (checkboxname != $(prop).attr('name')) {
                            checkboxarray = []; // name이 다를경우 array를 초기화 한다
                        }
                        checkboxarray.push($(prop).val());
                        resultmap[$(prop).attr('name')] = checkboxarray;
                        checkboxname = $(prop).attr('name');
                    }
                } else if (getelements.attr('type') == 'radio'){ // 라디오버튼
                    if ($(prop).is(":checked")) {
                        resultmap[$(prop).attr('name')] = $(prop).val();
                    }
                } else {
                    resultmap[getelements.attr('name')] = getelements.val();
                }
            }

            for (let prop of textareas) { // 텍스트에어리어
                getelements = $(prop).eq(0);

                if ( getelements.attr('name') == undefined ) {
                    console.log("name이 없는 textarea 태그가 있습니다");
                }

                resultmap[getelements.attr('name')] = getelements.val();
            }

            for (let prop of selects) { // 셀렉트
                getelements = $(prop).eq(0);

                if ( getelements.attr('name') == undefined ) {
                    console.log("name이 없는 select 태그가 있습니다");
                }

                resultmap[getelements.attr('name')] = getelements.val();
            }

            //그걸 맵으로 리턴
            return resultmap;
        };

        $.fn.insideTagInputToMap2 = function () {
            let $targetEl = this;
            let $targetMap = $targetEl.find('input, textarea, select');
            let resultmap = {};
            let vlist = {};

            //$.unique
            $targetMap.each(function (key, value) {
                if ($(value).prop("type") === 'checkbox') {
                    vlist[$(value).prop("name")] = [];
                } else {
                    vlist[$(value).prop("name")] = "";
                }
            });
            $targetMap.each(function (key, value) {
                let valuename = $(value).prop("name");
                if ($(value).prop('type') === 'checkbox') {
                    if ($(value).is(":checked")) {
                        vlist[valuename].push($(value).val());
                    }
                } else if ($(value).prop('type') === 'radio') {
                    if ($(value).is(":checked")) {
                        vlist[valuename] = $(value).val();
                    }
                } else {
                    vlist[valuename] = $(value).val();
                }
            });
            $.each(vlist, function (resultkey, resultvalue) {
                resultmap[resultkey] = resultvalue;
            });

            //그걸 맵으로 리턴
            return resultmap;
        };

        let object = {};
        let testData = {
            "todo": ['sleep', 'study'],
            "order": ['caffelatte', 'cafeolleh'],
            "company": "naver",
            "company2": "google",
            "filepath": "안영은(930330)-2023년도자료.pdf",
            "language": "css",
            "rrrr": "qqqq",
            "CONTENT": "test11",
            "CONTENT2": "test22",
            "pwdtest": "1q2w3e4r!",
            "TITLE": "test00",
            "todo2": ['sleep'],
            "numbertest": '1234'
        };

        $(document).on("click", "#save", function(){
            object = $("#test").insideTagInputToMap2();
            console.log(object);
        });

        $(document).on("click", "#bind", function(){
            $("#test").bindingFnc2(testData);
        });

    })

</script>

<body>

<button id="bind" >바인딩 버튼</button>

<div>
    <div>
        <h4><input type="text" name="TITLE" placeholder="루럴루럴"></h4>
        <div>
            <textarea name="CONTENT" id="editor"></textarea><br>
            <textarea name="CONTENT2" id="editor2"></textarea><br><br><br>
        </div>
        /////////////////////////////
        <div id="test">
            <input type="file" name="filepath"><br>
            <input type="number" name="numbertest"><br>
            <input type="password" name="pwdtest"><br><br>

            <input type="checkbox" name="todo" value="study">study<br>

            <input type="checkbox" name="todo2" value="study">study<br>

            <input type="radio" name="company2" data-test="Y" id="tttest" value="google1">google<br>
            <input type="radio" name="company2" value="naver">naver<br><br>

            <div>
                <input type="radio" name="company" data-test="Y"  value="google2">google<br>
                <input type="radio" name="company" data-test="N" value="naver">naver<br>
                <input type="radio" name="company" value="kakao">kakao<br><br>
            </div>

            <input type="checkbox" name="todo2" value="sleep">sleep<br>
            <input type="checkbox" name="todo2" value="eat">eat<br>

            <input type="radio" name="company2" value="kakao">kakao<br><br>
            <input type="checkbox" name="todo" value="sleep">sleep<br>
            <input type="checkbox" name="todo" value="eat">eat<br><br>

            <select name="language">
                <option value=""> 선택
                <option value="java"> JAVA
                <option value="css"> CSS
                <option value="html"> HTML
                <option value="c"> C
            </select>

            <select name="order" multiple>
                <option value="americano">아메리카노</option>
                <option value="caffelatte">카페라테</option>
                <option value="cafeolleh">카페오레</option>
                <option value="espresso">에스프레소</option>
            </select>
        </div>
        /////////////////////////////
    </div>
</div>
    <button id="save">저장</button>
    <input type="reset" onclick="" value="취소">
</body>
