{{> layout/header }}
{{> layout/leftmenu }}
{{> layout/gnb }}
<!-- ============================================================== -->
<!-- main  -->
<!-- ============================================================== -->
<div class="row">

    결과 : {{result}}

</div>

{{> layout/footer }}